.battery {
  width: 22px;
  height: 20px;
}
.right-container-nav {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.bar {
  margin-top: -1px;
  display: flex;
  width: 270px;
  height: 20px;
  min-height: 20px;
  background-color: #e3f2fd;
  border-bottom: 1px solid black;
}
.heading {
  margin: 1px 5px;
  padding: 0px;
}
.time {
  padding: 0px;
  margin: auto;
}
